

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                Columbeal Restaurant
                <!--                        <a class="navbar-brand" href="#"><img src="img/logo.png" height=30 width=41></a>-->
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"
                                                     aria-hidden="true"></span> Home</a></li>
                <li><a href="#">About</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Appetizers</a></li>
                        <li><a href="#">Main Courses</a></li>
                        <li><a href="#">Desserts</a></li>
                        <li><a href="#">Drinks</a></li>
                        <li role="separator" class="divider"></li>
                        <li class="dropdown-header">Specials</li>
                        <li><a href="#">Lunch Buffet</a></li>
                        <li><a href="#">Weekend Brunch</a></li>
                    </ul>
                </li>
                <li><a href="#">Contact</a></li>
            </ul>


            <div class="nav navbar-nav navbar-right"  style="padding:5px;">
                <span>{{message}}</span>

                <button *ngIf="!loginFlag"	 class="btn btn-info btn-sm" (click)="onLogIn()"  >Sign in</button>



                <button	*ngIf="!loginFlag" class="btn btn-default btn-sm" (click)="onRegister()" >Register</button>



                <button *ngIf="loginFlag" class=" btn btn-info btn-sm" (click)="onSignOut()">Sign out</button>




            </div>

        </div>


    </div>
</nav>


