<h3>Please log in</h3>
<form (ngSubmit)="onSubmit(theForm)" #theForm="ngForm">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required [(ngModel)]="user.email">
    </div>


    <div class="form-group">
        <label for="pwd">Password</label>
        <input id="pwd" type="password" name="pwd" required [(ngModel)]="user.password">
    </div>
    <button type="submit" [disabled]="!theForm.form.valid">Submit</button>
</form>

<div *ngIf="message">
    <p> {{message}}</p>
</div>