<app-navigation-bar></app-navigation-bar>
<br>
<br>
<div *ngIf="!disableFlage">
<div *ngFor="let oid of ordersIds;let ii = index;" class="container">

    <h4>This is order {{oid}}</h4>
    <table class="table">
        <tr>
            <th>Items</th>
            <th>Numbers</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let product of orders[ii].Products;let i = index;">
            <td>{{items[product.ProductId].Name}}</td>
            <td>
                {{product.Count}}
            </td>
            <td>
                <p>{{myParseFloat(items[product.ProductId].Price) * product.Count}}</p>
            </td>
        </tr>
    </table>
    <p>total price {{calc(orders[ii])}}</p>
    <div *ngIf="orders[ii].PaymentId === 0">
        <button class="btn btn-primary btn-xs" (click)="openCheckout(ii)">Checkout</button>
    </div>
    <div *ngIf="orders[ii].PaymentId !== 0">
        <p>You already paied!</p>
    </div>
    <br>
    <br>
    <br>
</div>
</div>
<br>
<br>
<div *ngIf="diableFlage">
    <p>
        loading
    </p>
</div>
