<app-navigation-bar></app-navigation-bar>
<br>
<br>
<div *ngIf="!disableFlage">
<div *ngFor="let oid of ordersIds;let ii = index;" class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Order {{oid}}</h4>
        </div>
        <div class="col-lg-1 col-md-pull-4">
            <div *ngIf="orders[ii].PaymentId === 0">
                <button class="btn btn-primary btn-xs" (click)="openCheckout(ii)">Checkout</button>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Items</th>
            <th>Numbers</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let product of orders[ii].Products;let i = index;">
            <td>{{items[product.ProductId-1].Name}}</td>
            <td>
                {{product.Count}}
            </td>
            <td>
                <p>{{myParseFloat(items[product.ProductId-1].Price) * product.Count}}</p>
            </td>
        </tr>
    </table>
    <p>total price {{calc(orders[ii])}}</p>


    <br>
    <br>
    <br>
</div>
</div>

<div *ngIf="disableFlage">
    <br>
    <br>
    <p>
        loading
    </p>
</div>
